<footer id="footer" ng-controller="mainCtrl">
 
		<div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Course Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a ng-if="userLogged=='true'" href="javascript:void(0)" ng-click="logout()">
                Logout
              </a>
            </li>
            <li><a href="javascriot:void(0)">
                List of Business
              </a>
            </li>
            <li><a href="javascriot:void(0)">
                List of Photography
              </a>
            </li>
            <li><a href="javascriot:void(0)">
               List of Language
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Products Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="javascriot:void(0)">
                Individual Plans  </a>
            </li>
            <li><a href="javascriot:void(0)">
                Business Plans
              </a>
            </li>
            <li><a href="javascriot:void(0)">
                Academic
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Browse by Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="javascriot:void(0)">
                All Courses
              </a>
            </li>
            <li> <a href="javascriot:void(0)">
                All Instructors
              </a>
            </li>
            <li><a href="javascriot:void(0)">
                All Members
              </a>
            </li>
            <li>
              <a href="javascriot:void(0)">
                All Groups
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6"> 
            	<div class="footerwidget"> 
                         <h4>Contact</h4> 
            <div class="contact-info"> 
            <i class="fa fa-map-marker"></i> 90/4, M. G. road, Opp. Monarch Hotel, Bengaluru, Karnataka - 560001<br>
            <i class="fa fa-phone"></i>080 4209 9168 <br>
             <i class="fa fa-envelope-o"></i> contact@flywin.in
              </div> 
                </div><!-- end widget --> 
    </div>
  </div>
</div>
			<div class="social text-center">
				<a href="javascriot:void(0)"><i class="fa fa-twitter"></i></a>
				<a href="javascriot:void(0)"><i class="fa fa-facebook"></i></a>
				<a href="javascriot:void(0)"><i class="fa fa-dribbble"></i></a>
				<a href="javascriot:void(0)"><i class="fa fa-flickr"></i></a>
				<a href="javascriot:void(0)"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="javascriot:void(0)">Home</a> | 
								<a href="javascriot:void(0)">About</a> |
								<a href="javascriot:void(0)">Courses</a> |
								<a href="javascriot:void(0)">Price</a> |
								<a href="javascriot:void(0)">Videos</a> |
								<a href="javascriot:void(0)">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2017. Template by <a href="javascriot:void(0)" rel="develop">flywin.in</a>
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>