<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active">
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="active">
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  <div>
   <div class="input-group">
      <span class="input-group-addon">First Name</span>
      <input type="text" class="form-control"
         placeholder="Enter your first name here" />
   </div>
   <br />
   <div class="input-group">
      <span class="input-group-addon">Last Name</span>
      <input type="text" class="form-control"
         placeholder="Enter your last name here" />
   </div>
   <br />
   <div class="input-group">
      <span class="input-group-addon">Email Address</span>
      <input type="text" class="form-control"
         placeholder="Valid email format is example@domain.com" />
   </div>
   <br />
   <button type="button" class="btn btn-primary btn-lg btn-block">
      Submit Data
   </button>
</div>
</div>