<header id="head">
	<div class="container">
		<div class="heading-text">
			<h1 class="animated flipInY delay1">Start Online Earning</h1>
			<p>Free Online education for elearning and online education
				institute.</p>
		</div>

		<div class="fluid_container">
			<div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
				<div data-thumb="assets/images/slides/thumbs/img1.jpg"
					data-src="assets/images/slides/img1.jpg">
					<h2>We develop.</h2>
				</div>
				<div data-thumb="assets/images/slides/thumbs/img2.jpg"
					data-src="assets/images/slides/img2.jpg"></div>
				<div data-thumb="assets/images/slides/thumbs/img3.jpg"
					data-src="assets/images/slides/img3.jpg"></div>
			</div>
			<!-- #camera_wrap_3 -->
		</div>
		<!-- .fluid_container -->
	</div>
</header>

<script>
	jQuery(function() {

		jQuery('#camera_wrap_4').camera({
			transPeriod : 500,
			time : 3000,
			height : '600',
			loader : 'false',
			pagination : true,
			thumbnails : false,
			hover : false,
			playPause : false,
			navigation : false,
			opacityOnGrid : false,
			imagePath : 'assets/images/'
		});

	});
</script>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="assets/images/1.png" alt="" />
				</div>
				<!--icon box top -->
				<h4>Online Courses</h4>
				<p>Online learning is one of the upcoming trends in the
					education sectors all over the world. This is a mode of learning
					whereby learning is done through the internet. With modern and
					improved technologies, this mode of learning has been made easier.
					In e-learning, there are no classrooms. The students study from a
					place that is most convenient for them. They can acquire learning
					material online. T he study and learning materials could be audio,
					texts or notes, videos and images. This mode of study is preferred
					for higher learning institutions. However, the mode of study has
					its advantages and various disadvantages too.</p>
				<p>
					<a href="#"><em>Read More</em></a>
				</p>
			</div>
			<!--grey box -->
		</div>
		<!--/span3-->
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="assets/images/2.png" alt="" />
				</div>
				<!--icon box top -->
				<h4>Meet our Staff</h4>
				<p>Human resources (HR) refers to any activity within a
					business, company, or organization used to deal with the management
					of its employees. These tasks can include employment, training,
					growth, and improvement. A number of large-scale, global or
					international organizations might also do internal job postings to
					save money or time. Human resources is so highly valued that some
					organizations share HR systems with other organizations through
					outsourcing. This creates an environment similar to a partnership
					as they may share similar systems and gain the ability to transfer
					employees to areas where they are most needed.</p>
				<p>
					<a href="#"><em>Read More</em></a>
				</p>
			</div>
			<!--grey box -->
		</div>
		<!--/span3-->
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="assets/images/3.png" alt="" />
				</div>
				<!--icon box top -->
				<h4>Latest Updates</h4>
				<p>We are currently focussing on ONE implementation per concept.
					We might add more plugins for other frameworks if multiple
					approaches make sense to the same concept. At the same time,
					plugins only work out of the box, if we have example paragraph
					types. The project starts as a collection of paragraph types to use
					the plugin concepts and later evolve into our larger set of
					paragraph types. At the later stage, users might pick what types
					they want to install in a wizard. For now, the collection will just
					install all types..</p>
				<p>
					<a href="#"><em>Read More</em></a>
				</p>
			</div>
			<!--grey box -->
		</div>
		<!--/span3-->
		<div class="col-md-3">
			<div class="grey-box-icon">
				<div class="icon-box-top grey-box-icon-pos">
					<img src="assets/images/4.png" alt="" />
				</div>
				<!--icon box top -->
				<h4>Placements</h4>
				<p>Traditionally the topic sentence is the first sentence of the
					paragraph. In this lead position, it functions to introduce the
					examples or details which will explain the controlling idea. If the
					paragraph is meant as a freestanding unit of discourse and not part
					of a larger whole, the topic sentence, or rather the ideas it
					contains, are frequently restated at the end of the paragraph. In
					this position, the restated topic sentence serves as a concluding
					statement. Such repetition of the topic helps the readers to follow
					the content of the paragraph, especially if that content is complex
					in nature..</p>
				<p>
					<a href="#"><em>Read More →</em></a>
				</p>
			</div>
			<!--grey box -->
		</div>
		<!--/span3-->
	</div>
</div>
<section class="news-box top-margin">
	<div class="container">
		<h2>
			<span>New Courses</span>
		</h2>
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure>
							<img src="assets/images/news2.jpg" alt="">
						</figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title">
									<h5>Developer</h5>
									</p>
									<p>When people ask me what I do, and I say I’m a “Software
										Developer”, they seem fairly impressed yet not entirely sure
										what it means. Even my parents still can’t quite grasp what it
										is I do. They know I’m good with computers and also useful for
										any technical issues they have (a hazard of the job, much like
										a doctor or car mechanic I imagine). So for both their sake
										and yours I’ll attempt to describe what happens in a day in
										the life of a software developer.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure>
							<img src="assets/images/news3.jpg" alt="">
						</figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title">
									<h5>Photography</h5>
									</p>
									<p>When people ask me what I do, and I say I’m a “Software
										Developer”, they seem fairly impressed yet not entirely sure
										what it means. Even my parents still can’t quite grasp what it
										is I do. They know I’m good with computers and also useful for
										any technical issues they have (a hazard of the job, much like
										a doctor or car mechanic I imagine). So for both their sake
										and yours I’ll attempt to describe what happens in a day in
										the life of a software developer.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="newsBox">
					<div class="thumbnail">
						<figure>
							<img src="assets/images/news4.jpg" alt="">
						</figure>
						<div class="caption maxheight2">
							<div class="box_inner">
								<div class="box">
									<p class="title">
									<h5>Audio Editing</h5>
									</p>
									<p>To date you’ve been concerned with everything you need
										to generate the audio recording. The emotional, physical and
										technical aspects of sitting down and recording someone, in a
										clear well produced and expressive way, while maintaining all
										of their personality. Now you have the audio recorded, it’s
										time to start the process of post production on your way to
										sharing a Life Story.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="title-box clearfix ">
				<h2 class="title-box_primary">About Us</h2>
			</div>
			<p>
				<span>We develop innovation-centric IT products, and provide
					advanced Technology Services & Solutions for major verticals like
					Telecom, Manufacturing, Retail, Finance, Hospitality and IT
					Enterprises. Apart from building high-capability products &
					solutions for business-driven markets, we also provide services in
					multiple domains and verticals for companies of all size & shape.</span>
			</p>
			<p>Our products and services are highly end-user centric, and
				focus on minimizing efforts and maximizing efficiency, be it
				Management, Automation or enhancing User Experience Flywin's
				consistent efforts in R & D, helps us create solutions that are
				responsive and market-ready. To compete in today's internet-driven
				market, businesses need to have dynamic systems and solutions, which
				enable instant collaboration and increased productivity, without
				spiking IT costs. Through our specialized services and solutions, we
				provide the ideal platform and support to empower businesses, and
				help them consume market opportunities better while achieving
				consistent throughput.</p>
			<p>With today's globally competitive environment, it is
				imperative to have a capable IT partner to speed-up, scale-up and
				accelerate the business for higher performance and productivity.

				Flywin can be a reliable technology partner and service provider to
				keep you ahead of your competition in the market and help you
				continue to provide exceptional service in your industry. Our
				talented engineering pool has vast experience in different
				verticals, and can bring great value to your business and your
				brand.</p>
			<a href="#" title="read more" class="btn-inline " target="_self">read
				more</a>
		</div>


		<div class="col-md-4">
			<div class="title-box clearfix ">
				<h2 class="title-box_primary">Up Coming Courses</h2>
			</div>
			<div class="list styled custom-list">
				<ul>
					<li><a
						title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
						href="#">Mathematics and Computer Science</a></li>
					<li><a
						title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
						href="#">Mathematics and Philosophy</a></li>
					<li><a
						title="Penatibus et magnis dis parturient montes ascetur ridiculus mus."
						href="#">Philosophy and Modern Languages</a></li>
					<li><a
						title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
						href="#">History (Ancient and Modern)</a></li>
					<li><a
						title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
						href="#">Classical Archaeology and Ancient History</a></li>
					<li><a
						title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
						href="#">Physics and Philosophy</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
