<div ng-controller="MyProfileCtrl" class="navbar navbar-inverse">
	<div class="w3-container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span><span class="icon-bar"></span><span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand"> <img class="logo-img" style="width: 232px; !important"
				src="assets/images/logo.jpg" alt="Techro HTML5 template"></a>
		</div>
		<div ng-if="authUser.id==null" class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right mainNav">
				<li><a href="javascript:void(0)" ng-click="defaultDashboard()">Home</a></li>
				<li><a href="javascript:void(0)" ng-click="about()">About</a></li>
				<li><a href="javascript:void(0)" ng-click="courses()">Courses</a></li>
				<!-- <li><a href="javascript:void(0)" ng-click="price()">Price</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">Package <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)" ng-click="link1()">Lik1</a></li>
						<li><a href="javascript:void(0)">Link2</a></li>
					</ul></li> -->
				<li><a href="javascript:void(0)" ng-click="contact()">Contact</a></li>
				<li><a ng-if="authUser.id==null" href="javascript:void(0)"
					ng-click="login()">Login</a></li>

			</ul>
		</div>
		<div ng-if="authUser.id!=null && authUser.userType!='admin' "
			class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right mainNav">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="myprofile(authUser.distributerId)">My Profile</a></li>
						<li><a href="javascript:void(0)"
							ng-click="editProfile(authUser.distributerId)">Edit Profile</a></li>

					</ul></li>
					
					<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">Team Member <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="mydownline(authUser.distributerId)">My Downline</a></li>

					</ul></li>
					<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">My Income <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="passbookSummary(authUser.id)" >Passbook Summary</a></li>
							<li><a href="javascript:void(0)"
							>Highest Earn of the week</a></li>

					</ul></li>
					
				<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
				<li><p ng-if="authUser.id!=null" href="javascript:void(0)">Hi
						{{authUser.userName}}!</p></li>

			</ul>
		</div>

		<div ng-if="authUser.userType=='admin' && authUser.status=='ACTIVE'"
			class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right mainNav">

					
					<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">Approval<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="approval(authUser.distributerId)">User Approval</a></li>
						<li><a href="javascript:void(0)" ng-click="sendMoneyToUser()">Money Transfer</a></li>
					</ul></li>
					
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">User Details<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="recentRegisteredList()">Recent Registered</a></li>
						<li><a href="javascript:void(0)">Assign ID</a></li>
					</ul></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown">Account <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"
							ng-click="myprofile(authUser.distributerId)">Admin Profile</a></li>
						<li><a href="javascript:void(0)"
							ng-click="editProfile(authUser.distributerId)">Edit Profile</a></li>
						<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
					</ul></li>
				<li><p ng-if="authUser.id!=null" href="javascript:void(0)">Hi
						{{authUser.userName}}!</p></li>

			</ul>
		</div>


		<!--/.nav-collapse -->
	</div>
</div>