<div ng-controller="MyProfileCtrl">
	<header id="head" class="secondary">
		<div class="container">
			<h1>
				<a href="javascriit:void(0)" style="color: #fcfdff;"
					><i class="fa fa-group">&nbsp DownLine Member</i></a>
			</h1>
		</div>
	</header>

	<div class="container">
	<div class="row">
	<h2 class="line">{{downlineUserList.length}}- Total Downline Member List :</h2>
  <table  class="table table-bordered" style="width=400;">
      <tr>
      <th>SI No</th>
      <th>Member Name</th>
      <th>Placement ID</th>
       <th>Date of Joining</th>
       <th>Leg Position</th>
       <th>Package Name</th>
      </tr>
     
      <tr ng-repeat ="data in downlineUserList track by $index">
      <td>{{$index+1}}</td>
      <td>{{data.userName}}</td>
      <td>{{data.sponsorID}}</td>
      <td>{{dateToString(data.createdDate)}}</td>
     <td>{{data.legPosition}}</td>
      <td>{{data.packageName}}</td>
      
      </tr>
      
      
      
  </table>
</div>
</div>
</div>