<div ng-controller="MyProfileCtrl">
	<header id="head" class="secondary">
		<div class="container">
			<h1>
				<a href="javascriit:void(0)" style="color: #fcfdff;"><i class="fa fa-user">&nbsp My Profile</i></a>
			</h1>
		</div>
	</header>

	<div class="container">
	<div class="row">
  <h2 class="line">Account Details </h2>Last Login Date  &nbsp: &nbsp<span style="color:#0a0aff"> {{lastLoginDate}}</span>
  <table class="table table-bordered mytable" style="width=400;">
      <tr>
        <th style="width: 504px;">Distributor Id &nbsp:</th>
        <td style="width: 504px;">{{authUser.distributerId}}  <h4>Account Status :</h4>
          <strong> <spam ng-model="myColor" ng-style="{color: myColor}" >{{authUser.status}}</spam></strong></th>
      </tr>
      <tr>
        <th>Designation &nbsp:</th>
        <td>{{authUser.designation}}</td>
      </tr>
      <tr>
        <th>Distributer Name &nbsp:</th>
        <td>{{authUser.userName}}</td>
      </tr>
       <tr>
        <th>Package Name &nbsp:</th>
        <td>{{authUser.packageName}}</td>
      </tr>
      <tr>
        <th>Date of Joining &nbsp:</th>
        <td>{{dateToString(authUser.createdDate) }}</td>
      </tr>
      <tr>
        <th>Email Id &nbsp:</th>
        <td>{{authUser.email}}</td>
      </tr>
      <tr>
        <th>Sponser Id / Sponser Name &nbsp:</th>
        <td>{{authUser.sponsorID}} / {{authUser.mySponserName}}</td>
      </tr>
      <tr>
        <th>Paid Amount / Dues Amount &nbsp:</th>
        <td><i class="fa fa-rupee"></i> {{authUser.paidAmount}} &nbsp/&nbsp <i class="fa fa-rupee"></i> {{authUser.duesAmount}} / 
       <div ng-if="authUser.duesAmount>0 && authUser.status!='ACTIVE' "> 
       </br><i class="fa fa-clock-o"></i><span style="color:#0a0aff">&nbsp<b>{{leftDate}} days remaining</b> </span></div></td>
      </tr>
      
   <!--   <tr>
        <th>Last Credited Amount &nbsp(INR):</th>
         <td><b><h4> &#8377 &nbsp  3,000.00</h4></b></td>
      
       <td><b><h4> &#8377 &nbsp  {{authUser.earnAmount}}</h4></b></td>
        </tr> -->
  </table>
</div>
</div>
</div>