<div ng-controller="MyProfileCtrl">
	<header id="head" class="secondary">
		<div class="container">
			<h1>
				<a href="javascriit:void(0)" style="color: #fcfdff;"><i class="fa fa-user">&nbsp My Profile</i></a>
			</h1>
		</div>
	</header>

	<div class="container">
	<div class="row">
  <h2 class="line">Account Details </h2>Last Login Date  &nbsp: &nbsp<span style="color:#0a0aff"> {{lastLoginDate}}</span>
  <table class="table table-bordered" style="width=400;">
      <tr>
        <th style="width: 504px;">Distributor Id &nbsp:</th>
        <td style="width: 504px;">{{authUser.distributerId}}  <h4>Account Status :</h4>
          <strong> <spam ng-model="myColor" ng-style="{color: myColor}" >{{authUser.status}}</spam></strong></th>
      </tr>
      <tr>
        <th>Designation &nbsp:</th>
        <td>{{authUser.designation}}</td>
      </tr>
      <tr>
        <th>Distributer Name &nbsp:</th>
        <td>{{authUser.userName}}</td>
      </tr>
       <tr>
        <th>Package Name &nbsp:</th>
        <td>{{authUser.packageName}}</td>
      </tr>
      <tr>
        <th>Date of Joining &nbsp:</th>
        <td>{{dateToString(authUser.createdDate) }}</td>
      </tr>
      <tr>
        <th>Email Id &nbsp:</th>
        <td>{{authUser.email}}</td>
      </tr>
      <tr>
        <th>Sponser Id / Sponser Name &nbsp:</th>
        <td>{{authUser.sponsorID}} / {{authUser.mySponserName}}</td>
      </tr>
      
      <tr ng-if="authUser.duesAmount>0 && authUser.status=='ACTIVE'">
        <th>Paid Amount / Dues Amount &nbsp:</th>
        <td><i class="fa fa-rupee"></i> {{authUser.paidAmount}} &nbsp/&nbsp <i class="fa fa-rupee"></i> {{authUser.duesAmount}} 
      </td>
      </tr>
     <tr ng-if="authUser.status!='ACTIVE' && noOfDaysfromCreatedDate>=0">
        <th>Paid Amount / Dues Amount &nbsp:</th>
        <td><i class="fa fa-rupee"></i> {{authUser.paidAmount}} &nbsp/&nbsp <i class="fa fa-rupee"></i> {{authUser.duesAmount}} 
       
       <div ng-show="noOfDaysfromCreatedDate<30"></br><i class="fa fa-clock-o"></i><span style="color:#0a0aff">&nbsp<b>{{leftDay}} days remaining</b> </span></div>
       <div ng-show="noOfDaysfromCreatedDate==30"></br><i class="fa fa-clock-o"></i>
       <span style="color:#0a0aff">&nbsp<b> Today is the last day of payment to activate your account without paying Penalty Fee. </b> </span></div>
       </br><b>Note :</b> Dues amount should be cleared before <b> {{dateToString(thirtyDays)}} </b> 
       <div ng-if="noOfDaysfromCreatedDate>=23" >Penalty Fee &nbsp:&nbsp <span style="color:rgb(255, 45, 41)" >
       <i class="fa fa-rupee" ></i> 99.00 </span></div>
       </td>
      </tr>
      
   <!--   <tr>
        <th>Last Credited Amount &nbsp(INR):</th>
         <td><b><h4> &#8377 &nbsp  3,000.00</h4></b></td>
      
       <td><b><h4> &#8377 &nbsp  {{authUser.earnAmount}}</h4></b></td>
        </tr> -->
  </table>
</div>
</div>
</div>