<header id="head" class="secondary">
	<div class="container">
		<h1>Secured Sign Up By Super Admin</h1>
	</div>
</header>
<div class="container">
<div class="row">
							<div class="col-md-6">
								<h3 class="section-title"></h3>
								<button type="submit" class="btn btn-two"  ng-click="fetchByDistributerId(signUpUser.distributerId)">
					<i class="fa fa-refresh"></i> Fetch Result
				</button>
							</div> 
						</div> 
	<div class="row">
		<div class="col-md-8">
			</br>
			<h2 class="line">New Registration</h2>
			<form class="form-light mt-20" role="form">
				<div class="row">
				<div class="col-md-4">
						<label>Distributer Id</label> <input 
							class="form-control" ng-model="signUpUser.distributerId">

					</div>
					<div class="col-md-4">
						<label>Sponser Id</label> <input 
							class="form-control" ng-model="signUpUser.sponserID">
					</div>
					<div class="col-md-2">
						<label>Position</label> 
						<select 
							   class="form-control"
							   ng-model="signUpUser.legPosition" 
							   ng-options="item for item in legPostion"></select>

					</div>
					<div class="col-md-2">
					<label>Gender<span class="required"> &nbsp*</span></label> 
							<select 
							   class="form-control"
							   ng-model="signUpUser.gender" 
							   ng-options="item for item in gender"></select>
							   <div class="client-error">
							<span ng-show="errorMap.get('gender')!=null"> <small>{{errorMap.get('gender')}}</small>
							</span>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Full Name</label> <input class="form-control"
								 ng-model="signUpUser.userName">
						</div>
					</div>
					
										
					<div class="col-md-2">
					<label>Status<span class="required"> &nbsp*</span></label> 
							<select 
							   class="form-control"
							   ng-model="signUpUser.status" 
							   ng-options="item for item in status"></select>
							   <div class="client-error">
							<span ng-show="errorMap.get('status')!=null"> <small>{{errorMap.get('status')}}</small>
							</span>
						</div>
					</div>
					
					
					
				</div>
				
				<div class="row">
				    <div class="col-md-4">
						<div class="form-group">
							<label>Primary Mobile Number</label> <input class="form-control"
								 maxlength="10"
								ng-model="signUpUser.mobileNumber">
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>Secondary Mobile Number</label> <input
								class="form-control" maxlength="10"
								ng-model="signUpUser.optionalMobileNumber">
						</div>
					</div>
				
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Email Id</label> <input class="form-control"
								maxlength="20" placeholder="myname@mail.com"
								ng-model="signUpUser.email">
						</div>
					</div>
					<div>
					<div class="col-md-2">
							<label>Date Of Birth</label> 
							<select 
							   class="form-control"
							   ng-model="signUpUser.dobDay" 
							   ng-options="item for item in days"></select>
					</div>
					<div class="col-md-2">
					<label>Month</label> 
							<select 
							   class="form-control"
							   ng-model="signUpUser.dobMonth" 
							   ng-options="item for item in months"></select>
					</div>
					<div class="col-md-2">
					<label>Year</label> 
					<select 
							   class="form-control"
							   ng-model="signUpUser.dobYear"
							   ng-options="item for item in years"></select>
							
					</div>
					</div>
				</div>

				<h2 class="line">Address Details</h2>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>State</label> <input class="form-control" maxlength="20"
								ng-model="signUpUser.state">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>District</label> <input type="text" class="form-control"
								maxlength="20" ng-model="signUpUser.district">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>City</label> <input class="form-control" maxlength="20"
								ng-model="signUpUser.city">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Pincode</label> <input class="form-control" maxlength="6"
								ng-model="signUpUser.pincode">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Address</label>
						<textarea rows="4" cols="50" ng-model="signUpUser.address ">

                                 </textarea>
					</div>
				</div>

				<h2 class="line">Nominee Details</h2>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Nominee Name</label> <input class="form-control"
								maxlength="20" ng-model="signUpUser.nomineeName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Relation with Nominee</label> <input class="form-control"
								maxlength="6" ng-model="signUpUser.relation">
						</div>
					</div>
				</div>

				<h2 class="line">Bank Account
					Details</h2>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Account Number</label> <input class="form-control"
								maxlength="20" ng-model="signUpUser.accountNo">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Bank Name</label> <input class="form-control"
								maxlength="20" ng-model="signUpUser.bankName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>IFSC Code</label> <input class="form-control"
								maxlength="20" ng-model="signUpUser.ifscCode">
						</div>
					</div>
				</div>











				<button type="submit" class="btn btn-two"  ng-click="register()">
					<i class="fa fa-check"></i> Register
				</button>
				<p>
					<br />
				</p>
			</form>
		</div>
		 <!-- <div class="col-md-4">
						<div class="row">
							<div class="col-md-6">
								<h3 class="section-title"></h3>
								<button type="submit" class="btn btn-two"  ng-click="fetchByDistributerId(signUpUser.distributerId)">
					<i class="fa fa-refresh"></i> Fetch Result
				</button>
							</div> 
						</div> 						
					</div>  -->
	</div>
</div>