<div >
	<header id="head" class="secondary">
		<div class="container">
			<h1>
				<a href="javascriit:void(0)" style="color: #fcfdff"
					ng-click="loginTab()"><i class="fa fa-sign-in"> LogIn </i></a>&nbsp| <a href="javascriit:void(0)" style="color: #fcfdff" ng-click="registerTab()"><i class="fa fa-user"> Register</i></a>
			</h1>
		</div>
	</header>
	<div class="container">
		<div class="row">
		
		<div ng-show="loginFlag" class="col-md-8">
				<h3 class="section-title">Log in</h3>

				<form class="form-light mt-20" role="form">
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>User Id<span class="required"> &nbsp*</span></label> <input  id="userId" class="form-control" maxlength="10"
									placeholder="User Id" ng-model="userMaster.distributerId"/>
									<div class="client-error">
							<span ng-show="errorMap.get('userId')!=null"> <small>{{errorMap.get('userId')}}</small>
							</span>
						</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Password<span class="required"> &nbsp*</span></label> <input id="password" type="password" maxlength="50"
									class="form-control" placeholder="Your password"
									ng-model="userMaster.password">
									<div class="client-error">
							<span ng-show="errorMap.get('password')!=null"> <small>{{errorMap.get('password')}}</small>
							</span>
						</div>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-two" ng-click="login()">Log In</button>
					<p>
						<br />
					</p>
				</form>
			</div>
		
			<div ng-show="registerFlag" class="col-md-8">
				<h3 class="section-title">Register</h3>

				<form class="form-light mt-20" role="form">
					<div class="row">
					<div class="col-md-6">
					
						<label>Name<span class="required"> &nbsp*</span></label> <input
							id="name" class="form-control" placeholder="Your name"
							ng-model="userMaster.userName" />
						<div class="client-error">
							<span ng-show="errorMap.get('userName')!=null"> <small>{{errorMap.get('userName')}}</small>
							</span>
						</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label>Phone<span class="required"> &nbsp*</span></label> <input type="text" maxlength="10"
									class="form-control" placeholder="+91-"
									ng-model="userMaster.mobileNumber">
									<div class="client-error">
							<span ng-show="errorMap.get('mobileNumber')!=null"> <small>{{errorMap.get('mobileNumber')}}</small>
							</span>
						</div>
							</div>
						</div>
						<div class="col-md-2">
					<label>Gender<span class="required"> &nbsp*</span></label> 
							<select 
							   class="form-control"
							   ng-model="userMaster.gender" 
							   ng-options="item for item in gender"></select>
							   <div class="client-error">
							<span ng-show="errorMap.get('gender')!=null"> <small>{{errorMap.get('gender')}}</small>
							</span>
						</div>
					</div>
					</div>
					<div class="row">
					<div class="col-md-3">
							<div class="form-group">
								<label>Sponser Id</label> <input class="form-control" maxlength="10"
									placeholder="Sponser ID" ng-model="userMaster.sponsorID">
									
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label>Package</label> <select class="form-control" 
								  ng-options="item for item in package_name"
									ng-model="userMaster.packageName"></select>
									
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Leg Position</label> <select class="form-control" 
								  ng-options="item for item in legPosition"
									 ng-model="userMaster.legPosition"></select>
									
							</div>
						</div>
					
					</div>
					<div class="row">
					
					<div class="col-md-3">
							<div class="form-group">
								<label>Payment</label> <select class="form-control" 
								  ng-options="item for item in yesNo"
									placeholder="Sponser ID" ng-model="userMaster.paymentStatus"></select>
									
							</div>
						</div>
						
						<div class="col-md-3" ng-if="userMaster.paymentStatus=='Yes'">
							<div class="form-group">
								<label>Paid Amount ( &nbsp<i class="fa fa-rupee"></i>&nbsp)</label> 
								<input maxlength="8" class="form-control"  ng-model="userMaster.paidAmount"/>
									
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label>Email</label> <input type="email" class="form-control" maxlength="50"
									placeholder="Your Email" ng-model="userMaster.email">
							</div>
						</div>
					
					</div>
					
					<div class="row">
					<div class="col-md-6">
							<div class="form-group">
								<label>Password<span class="required"> &nbsp*</span></label> <input type="password" class="form-control" maxlength="50"
									placeholder="Your password" ng-model="userMaster.password">
									<div class="client-error">
							<span ng-show="errorMap.get('password')!=null"> <small>{{errorMap.get('password')}}</small>
							</span>
						</div>
							</div>
						</div>
						
					</div>

					<button type="submit" class="btn btn-two" ng-click="register()">Register</button>
					<p>
						<br />
					</p>
				</form>
			</div>
			<div class="col-md-4">
				
				
				<p>
                    <img src="assets/images/shake-hands.jpg" alt="" class="img-rounded pull-down" width="300" style="padding: 22px;">
                </p>
                 make bond strong with strong source development 				
			</div>
			
 <a href="javascript:void(0)" ng-click="back()" ><i class="fa fa-chevron-circle-left" ></i> Back to Home	</a>		
					</div>
	</div>
	</div>
	</html>